.links{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.links ul{
    width: 100%;
}
.links li{
    display: inline-block;
    margin-inline: 100px;
    
}
@media only screen and (max-width: 720px){
    .links li{
        display: inline-block;
        margin-inline: 30px;
        
    }
}